$character-light-primary: #262626;
$character-light-secondary: #8C8C8C;
$character-light-disable: #BFBFBF;
$character-light-border: #D9D9D9;
$character-light-dividers: #F0F0F0;
$character-light-background: #F5F5F5;
$character-light-table-header: #FAFAFA;
$character-light-table-error: #FF4D4F;
$character-light-table-warning: #FAAD14;
$character-light-table-success: #52C41A;
$character-light-table-link: #1890FF;
$character-light-table-red-4: #FF7875;
$character-light-table-primary-inverse: #FFFFFF;
$character-light-table-sider-background: #FFFFFF;

$character-dark-primary: #DBDBDB;
$character-dark-secondary: #7C7C7C;
$character-dark-disable: #5A5A5A;
$character-dark-border: #434343;
$character-dark-dividers: #303030;
$character-dark-background: #262626;
$character-dark-table-header: #1C1C1C;
$character-dark-table-error: #A61D24;
$character-dark-table-warning: #D89614;
$character-dark-table-success: #49AA19;
$character-dark-table-link: #177DDC;
$character-dark-table-red-4: #791A1F;
$character-dark-table-sider-background: #111D2C;

$primary-light-1: #F0F5FF;
$primary-light-2: #D6E4FF;
$primary-light-3: #ADC6FF;
$primary-light-4: #85A5FF;
$primary-light-5: #597EF7;
$primary-light-6: #2F54EB;
$primary-light-7: #1D39C4;
$primary-light-8: #10239E;
$primary-light-9: #061178;
$primary-light-10: #030852;

$primary-dark-1: #131629;
$primary-dark-2: #161D40;
$primary-dark-3: #1C2755;
$primary-dark-4: #203175;
$primary-dark-5: #263EA0;
$primary-dark-6: #2B4ACB;
$primary-dark-7: #5273E0;
$primary-dark-8: #7F9EF3;
$primary-dark-9: #A8C1F8;
$primary-dark-10: #D2E0FA;

$blue-light-1: #E6F7FF;
$blue-light-2: #BAE7FF;
$blue-light-3: #91D5FF;
$blue-light-4: #69C0FF;
$blue-light-5: #40A9FF;
$blue-light-6: #1890FF;
$blue-light-7: #096DD9;
$blue-light-8: #0050B3;
$blue-light-9: #003A8C;
$blue-light-10: #002766;

$blue-dark-1: #111D2C;
$blue-dark-2: #112A45;
$blue-dark-3: #15395B;
$blue-dark-4: #164C7E;
$blue-dark-5: #1765AD;
$blue-dark-6: #177DDC;
$blue-dark-7: #3C9AE8;
$blue-dark-8: #65B7F3;
$blue-dark-9: #8DCFF8;
$blue-dark-10: #B7E3FA;

$neutral-gray-1: #FFFFFF;
$neutral-gray-2: #FAFAFA;
$neutral-gray-3: #F5F5F5;
$neutral-gray-4: #F0F0F0;
$neutral-gray-5: #D9D9D9;
$neutral-gray-6: #BFBFBF;
$neutral-gray-7: #8C8C8C;
$neutral-gray-8: #595959;
$neutral-gray-9: #434343;
$neutral-gray-10: #262626;
$neutral-gray-11: #1F1F1F;
$neutral-gray-12: #141414;
$neutral-gray-13: #000000;