@import '../../styles/variables';

.card {
    background-color: $neutral-gray-1;
    padding: 24px;
    max-width: 752px;
    width: 100%;
    border-radius: 2px;
}

.text {
    color: $primary-light-9;
}